{% extends "base.html" %}

{% block title %}{{ translations.enter_letterboxd_username }}{% endblock %}

{% block extra_head %}
    <style>
        body {
             background: url('https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExdGdlZ252aGtrd2s5ZXc0enF0eW16MWJicWZiemkxdHN6dnludDBneiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/QGsrqrThkTVHLQxZpZ/giphy.gif') no-repeat center center fixed;
            background-size: cover;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            color: #fff;
            position: relative;
        }
        .container {
            background: white;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            text-align: center;
            width: 320px;
            opacity: 0.85;
        }
        h1 {
            color: #000000;
            margin-bottom: 20px;
            position: center;
        }
        input[type="text"] {
            text-align: center;
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-sizing: border-box;
        }
        button {
            background: linear-gradient(90deg, #1e6d59, #ff7f50); /* Yeşil ve Turuncu */
            color: white;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
            font-weight: bold;
        }
        button:hover {
            background: linear-gradient(90deg, #155846, #ff6347); /* Daha koyu yeşil ve turuncu */
        }
        #loading {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.7);
            color: white;
            justify-content: center;
            align-items: center;
            z-index: 999;
            font-size: 24px;
            text-align: center;
        }
        footer {
            position: absolute;
            bottom: 20px;
            left: 20px;
            font-size: 12px;
            color: #fff;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
          <p5><a href="/" id="anasayfa" style="display: inline-block; background-color: #00b7a4; color: white; font-size: 16px; padding: 15px 30px; text-decoration: none; border-radius: 50px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); transition: background-color 0.3s, transform 0.2s;" onmouseover="this.style.backgroundColor='#009e8e'; this.style.transform='translateY(-2px)';" onmouseout="this.style.backgroundColor='#00b7a4'; this.style.transform='translateY(0)';" onmousedown="this.style.transform='translateY(0)';" onmouseup="this.style.transform='translateY(-2px)';">{{ translations.main_page }}</a></p5> 
           <br>
        <h1>{{ translations.enter_letterboxd_username }}</h1>
       <h6 style="color: black;">{{ translations.follower_description }}</h6>
        <form method="POST" onsubmit="showLoading()">
            <input type="text" name="username" placeholder="{{ translations.username }}" required>
            <button type="submit"><i class="fas fa-paper-plane"></i> <span>{{ translations.submit }}</span></button>
        </form>
    </div>
    <div id="loading">
        <div>{{ translations.loading }}</div>
    </div>
    <footer>
        <p>Bütün hakları Mert Ergün'e aittir ha. Şaka şaka hak mak yok ama uğraştık o kadar çalmayın.</p>
    </footer>
{% endblock %}

{% block extra_scripts %}
    <script>
        function showLoading() {
            document.getElementById("loading").style.display = "flex";
        }
    </script>
{% endblock %}